:root {
    --about-us-title-color: #2e2f42;
    --about-us-text-color: #434455;
    --row-title-color: #2e2f42;
    --row-text-color: #434455;
    --logo-color-: #4d5ae5;
    --body-btn-color: #4d5ae5;
    --background-color-body-btn: #f4f4fd;
    --row-title-color: #2e2f42;
    --row-text-color: #434455;
    --head-ink-color: #2e2f42;
    --card-text-color: #e7e9fc;
    --bg-gradient-colol: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7));
    --sections-customers-color: #d3d3d3;
  }
  
  body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
  }
  
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  ul,
  ol {
    margin: 0;
    padding-left: 0;
  }
  
  button {
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
  }
  
  address {
    font-style: normal;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .link {
    text-decoration: none;
  }
  
  .list {
    list-style: none;
  }
  
  
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  
  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  
  .head-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color-);
    margin-right: 76px;
    margin-bottom: 24px;
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
  }
  
  
  
  
  .head-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .head-conteiner {
    display: flex;
    align-items: center;
  }
  
  .studi {
    color: #2e2f42;
  }
  
  .studi-down {
    color: #f4f4fd;
  }
  
  
  .head-ink:hover {
    color: #404bbf;
  }
  
  .head-ink:focus {
    color: #404bbf;
  }
  
  
  
  .contacts {
    font-style: normal;
  }
  
  
  
  .head-contact:hover {
    color: #404bbf;
  }
  
  .head-contact:focus {
    color: #404bbf;
  }
  
  .menu-mobile-btn {
    border: 3px solid #2E2F42;
  }
  
  .hero {
    background-color: #2e2f42;
    background-image: var(--bg-gradient-colol), url(../images/moble-title.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 112px 0;
    text-align: center;
    max-width: 428px;
    height: 432px;
    margin: 0 auto;
  }
  
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient-colol), url(../images/tel-bg-2x.jpg);
    }
  }
  
  
  
  .hero-title {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  
  .hero-btn {
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    align-items: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4d5ae5;
    margin-bottom: 60px;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .hero-btn:hover {
    background-color: #404bbf;
  }
  
  .hero-btn:focus {
    background-color: #404bbf;
  }
  
  /* 
  .about-us-item {
    width: 264px;
  } */
  
  
  /* .about-us {
    padding-bottom: 0;
  } */
  
  
  
  .about-us-item {
    /* width: calc((100% - 72px) / 4); */
    margin-right: 0;
  }
  
  .about-us-item:last-child {
  
    margin-right: 0;
  }
  
  .us-box {
  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: var(--background-color-body-btn);
    border-radius: 4px;
    display: none;
  }
  
  
  
  
  
  .strategy-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--about-us-text-color);
  }
  
  
  
  .work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    margin-top: 120px;
  }
  
  /* .us-bisnez {
    display: flex;
    gap: 24px;
  } */
  
  .our-team {
    background-color: #f4f4fd;
  }
  
  .teem-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
  }
  
  .our-team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
  }
  
  .box {
    padding: 32px 16px;
    text-align: center;
  }
  
  .worker {
    background-color: #ffffff;
    width: 264px;
    /* margin: 0 auto; */
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  
  
  
  .worker-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
  }
  
  .worker-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
  }
  
  .teem-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  
  }
  
  .teem-soc-item {
    width: 40px;
    height: 40px;
  }
  
  .teem-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .teem-soc-icon {
    fill: #f4f4fd;
  }
  
  .teem-soc-link:hover,
  .teem-soc-link:focus {
    background-color: #31D0AA;
  
  }
  
  
  .customers-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
  }
  
  
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
  }
  
  
  .customers-link {
  
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    width: 190px;
    border-radius: 4px;
    border: 1px solid currentColor;
    color: #8E8F99;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  .company-icon {
  
    fill: currentColor;
  }
  
  .customers-link:is(:hover, :focus) {
  
    color: var(--logo-color-);
  }
  
  /* footer */
  
  .down {
    background-color: #2e2f42;
    padding: 100px 0;
  }
  
  .down-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
    margin-top: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  
  
  /* .footer-container {
    display: flex;
  } */
  
  
  
  .footer-soc-list {
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  
  .footer-soc-item {
  
    width: 40px;
    height: 40px;
  }
  
  .footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  
  
  .footer-soc-icons {
    fill: #f4f4fd;
  }
  
  
  .footer-soc-link:hover,
  .footer-soc-link:focus {
    background-color: #31D0AA;
  
  }
  
  /* .form-class {
    display: flex;
    gap: 24px;
  } */
  
  /* .subscr-box {
    margin-left: 80px;
  } */
  
  
  
  
  
  .subscr-btn-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    gap: 16px;
  }
  
  .subscr-btn {
    background: #4D5AE5;
    border-radius: 4px;
    padding: 8px 24px;
    border: none;
    box-shadow: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    gap: 16px;
    margin-right: auto;
    margin-left: auto;
  }
  
  
  .subscr-btn :focus {
    background-color: #4D5AE5;
  }
  
  
  
  /* modal-window */
  
  
  .modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 16px;
  }
  
  
  .comment {
    margin-bottom: 16px;
  }
  
  .modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    padding-left: 38px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
  }
  
  .modal-input:focus {
    border-color: #4D5AE5;
    border: 1px solid #4D5AE5;
  
  }
  
  .modal-input:focus+.modal-icon {
    fill: #4D5AE5;
  
  }
  
  .modal-input::placeholder {
    color: #8E8F99;
    font-size: 12px;
  }
  
  .modal-field {
    margin-bottom: 8px;
  }
  
  .comment-field {
    margin-bottom: 16px;
  }
  
  .button-field {
    margin-bottom: 24px;
  }
  
  .modal-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .input-wrap {
    position: relative;
  
  }
  
  .modal-textarea {
    border: 1px solid rgba(46, 47, 66, 0.4);
    outline: transparent;
    border-radius: 4px;
    font-size: 14px;
    color: #8E8F99;
    padding-top: 15px;
    padding-left: 16px;
    width: 100%;
    height: 120px;
    border-radius: 4px;
    resize: none;
  }
  
  .modal-label {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #8E8F99;
    display: block;
    position: relative;
    margin-bottom: 8px;
  }
  
  .input-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #8E8F99;
    display: block;
    margin-bottom: 4px;
  }
  
  .modal-label span {
    display: block;
    margin-bottom: 4px;
  }
  
  .backdrop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms linear, visibility 250ms linear;
  }
  
  .modal {
    width: 408px;
    height: 584px;
    background-color: #FCFCFC;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 72px 24px 24px;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 250ms linear;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scaleY(0) rotate(-90deg);
  
  }
  
  .modal-close-btn {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    color: black;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-close-btn:is(:hover, :focus) {
    background-color: #404BBF;
    color: white;
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
  }
  
  
  .model-cross-icons {
    fill: currentColor;
  }
  
  .check-text {
    display: flex;
    align-items: center;
    color: #8E8F99;
    letter-spacing: 0.04em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
  }
  
  .check-text::before {
    content: '';
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
  }
  
  .input-check:checked+.check-text::before {
    background-color: #404BBF;
    border: none;
    background-image: url(../images/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
  
  }
  
  .modal-link {
    margin-left: 4px;
    color: #4D5AE5;
    text-decoration-line: underline;
  }
  
  .confirmation-btn {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 169px;
    height: 56px;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: white;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .confirmation-btn :focus {
    background-color: #4D5AE5;
  }
  
  /* portfolio */
  
  .header-portfolio {
    border-bottom: 1px solid;
    color: #e7e9fc;
  }
  
  .body-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--body-btn-color);
    background-color: var(--background-color-body-btn);
    cursor: pointer;
    background: #f4f4fd;
    border-radius: 4px;
    padding: 12px 24px;
    border: 0 none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .button-item :not(:last-child) {
    margin-right: 24px;
  }
  
  
  .body-btn:hover,
  .body-btn:focus {
    background-color: #404bbf;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  
  
  .row-link {
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .row-link:hover,
  .row-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  
  
  .row-link:hover .row-cover-text,
  .row-link:focus .row-cover-text {
  
    transform: translate(0);
  }
  
  .row-cover-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .row-cover-text {
    position: absolute;
    top: 0;
    font-weight: 400;
    font-size: 16px;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  
  
  .row-one-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--row-title-color);
    margin-bottom: 8px;
  }
  
  
  
  .row-one-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--row-text-color);
  }
  
  .button-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
  }
  
  .galery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
  }
  
  .row-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  
  .card-text {
    border-bottom: 1px solid var(--card-text-color);
    border-left: 1px solid var(--card-text-color);
    border-right: 1px solid var(--card-text-color);
    padding: 32px 16px 32px 16px;
  }
  
  .portfolio-body {
    padding-top: 96px;
  }
  
  /*Current */
  
  .current {
    position: relative;
    color: #404bbf;
  }
  
  
  .current:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -24px;
    width: 100%;
    height: 4px;
    background-color: #404BBF;
    border-radius: 2px;
  }
  
  /* ------------------------------------------------mob-menu-stayl ------------------------------------------------*/
  
  
  .mob-menu {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding: 48px 31px 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
  
  .menu-close-btn {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
  }
  
  .menu-close-btn {
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #E7E9FC;
    color: black;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-cross-icons {
    fill: currentColor;
  }
  
  .mob-menu-list {
  
    margin-bottom: 50px;
  }
  
  .mob-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }
  
  .mob-menu-ink {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
  }
  
  .mob-menu-ink-ocean {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #404BBF;
  
  }
  
  .mob-menu-contact-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 48px;
  }
  
  .mob-menu-contact-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #4D5AE5;
  }
  
  .menu-soc-list {
  
    display: flex;
    gap: 24px;
  }
  
  .menu-soc-item {
    width: 40px;
    height: 40px;
  }
  
  .menu-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .menu-soc-icon {
    fill: #f4f4fd;
  
  }
  
  .menu-open {
    background-color: transparent;
  }
  
  .heder-adres-mob-menu {
    margin-bottom: 48px;
  
  }
  
  .li-tel-mob-menu {
    margin-bottom: 40px;
  
  }
  
  